<h1>New</h1>

<form action="/users" method="POST">
  <div>
    <label>Name</label>
    <input type="text" name="name" placeholder="Enter a name" value="">
  </div>

  <div>
    <label>Age</label>
    <input type="number" name="age" value="" min="18">
  </div>

  <div>
    <input type="submit" value="Create User">
  </div>
</form>
