<h1><%= @user.name %></h1>
<p><%= @user.age %></p>
<a href="/<%= @user.id %>/edit">edit</a>

<form action="/<%= @user.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form>
